footer#footer.section
  .container.footer
    .row
      .col-md-2
        a(href='/')
          img.logo(src='images/logos/homely.png', alt='Homely')
      .col-md-2
        b Servicios
        br
        a(href='http://servicios.jelpmi.mx') Quiero un servicio
        br
        a(href='/ser-keeper') Ser keeper
        br
        a(href='/perks') Beneficios
        br
        a(href='/office') Servicios para oficina
        br
        a(href='') Cobertura
      .col-md-2
        b Nosotros
        br
        a(href='') Empresa
        br
        a(href='') Politicas de igualdad
        br
        a(href='') Blog
      .col-md-2
        b Contacto
        br
        a(href='') contacto@jelpmi.mx
      .col-md-4.d-flex.justify-content-end
        .d-flex.flex-column.justify-content-between
          .stores
            .store
              a(href='#')
                img(src='images/logos/stores/app.png', alt='Download for iOS')
            .store
              a(href='#')
                img(src='images/logos/stores/play.png', alt='Download for android')
          .soul
            img(src='images/logos/made.png', alt='Hecho en Mexico', style='width: 80px;')
    .row(style='margin-top: 40px; font-size: 12px;')
      .col-md-9
        | ¿Necesitas más información? Llama en la CDMX al 7098-2559. En Guadalajara al 33 2343 6162
        br
        |           Copyright © 2018 Grupo MIRCRAVI S.A. de C.V. Todos los derechos reservados. 
        a(href='#') Aviso de privacidad |
        |   
        a(href='#') Términos y condiciones |
        |  
        a(href='#') Mapa del sitio
      .col-md-3.social-contact
        a(href='https://www.facebook.com/Jelpmimx/', target='_blank')
          img(src='images/icons/facebook.png', alt='Facebook')
        a(href='https://twitter.com/jelpmimx', target='_blank')
          img(src='images/icons/twitter.png', alt='Twitter')
        a(href='https://www.instagram.com/jelpmimx/', target='_blank')
          img(src='images/icons/instagram.png', alt='Instagram')
        a(href='https://www.linkedin.com/company/16217519/', target='_blank')
          img(src='images/icons/linkedin.png', alt='LinkedIn')
