link(rel='stylesheet', href='stylesheets/footer.css')


footer
  #desktop-footer.section
    .container.footer
      .row
        .col-md-2
          a(href='/')
            img.logo(src='images/logos/homely.png', alt='Homely')
        .col-md-2
          b Servicios
          br
          a(href='http://servicios.homely.mx').section-link Quiero un servicio
          br
          a(href='/keepers').section-link Quiero ser keeper
          br
          a(href='/perks').section-link Beneficios
          br
          a(href='/office').section-link Servicios para oficina
          br
          a(href='/cities').section-link Cobertura
        .col-md-2
          b Nosotros
          br
          a(href='').section-link Empresa
          br
          a(href='terms?info=rules').section-link Reglas de la comunidad
          br
          a(href='').section-link Blog
        .col-md-2
          b Contacto
          br
          a(href='mailto:hola@homely.mx').section-link hola@homely.mx
        .col-md-4.d-flex.justify-content-end
          .d-flex.flex-column.justify-content-between
            .stores
              .store
                a(href='https://itunes.apple.com/mx/app/jelpmi/id1105721186?l=en&mt=8')
                  img(src='images/logos/stores/app.png', alt='Download for iOS')
              .store
                a(href='https://play.google.com/store/apps/details?id=com.luillox.jelpmi')
                  img(src='images/logos/stores/play.png', alt='Download for android')
            .soul
              img(src='images/logos/made.png', alt='Hecho en Mexico', style='width: 80px;')
      .row(style='margin-top: 40px; font-size: 12px;')
        .col-md-9
          | ¿Necesitas más información? Llama en la CDMX al 8868-4897 o al 7098-2559. En Guadalajara al 33 2701 3791
          br
          |           Copyright © 2018 Grupo MICRAVI S.A. de C.V. Todos los derechos reservados. 
          a(href='terms').section-link Términos y condiciones |
          |   
          a(href='terms?info=privacy').section-link Aviso de privacidad |
          |  
          a(href='#').section-link Mapa del sitio
        .col-md-3.social-contact
          a(href='https://www.facebook.com/HomelyMex/', target='_blank')
            img(src='images/icons/facebook.png', alt='Facebook')
          a(href='https://twitter.com/homelymx', target='_blank')
            img(src='images/icons/twitter.png', alt='Twitter')
          a(href='https://www.instagram.com/homelymx/', target='_blank')
            img(src='images/icons/instagram.png', alt='Instagram')
          a(href='https://www.linkedin.com/company/16217519/', target='_blank')
            img(src='images/icons/linkedin.png', alt='LinkedIn')
  #mobile-footer.section
    .container
      .logo-div
        a(href='/')
          img.logo(src='images/logos/homely.png', alt='Homely')
      .social-mobile
        a(href='https://www.facebook.com/HomelyMex/', target='_blank')
          img(src='images/icons/facebook.png', alt='Facebook')
        a(href='https://twitter.com/HomelyMx', target='_blank')
          img(src='images/icons/twitter.png', alt='Twitter')
        a(href='https://www.instagram.com/homelymx/', target='_blank')
          img(src='images/icons/instagram.png', alt='Instagram')
        a(href='https://www.linkedin.com/company/16217519/', target='_blank')
          img(src='images/icons/linkedin.png', alt='LinkedIn')
      div
        p.small Grupo MIRCAVI todos los derechos reservados 2018.
        p.small Hecho con amor en México
      
