link(rel='stylesheet', href='stylesheets/modal.css')

.screen#popup
  .custom-modal
    .modal--image(style="background-image: url('images/photos/office-keepers.jpg')")
    .modal--content
      h4 JelpMi! ahora es Homely.
      p Nos pusimos más guapos y para celebrarlo, te regalamos $80.00 de descuento en tu primer servicio.
      .promocode transformacion
      button.btn.btn-main(onclick="closeModal()") Ah ok 🙄
      a(href="")
        button.btn.btn-ghost Ver más
      