link(rel='stylesheet', href='stylesheets/navbar.css')

.top
  #desktop(style="background: white; height: 64px;")
    .container.d-flex.align-items-center.justify-content-between.navbar
      .left
        a(href="/")
          img.logo(src='images/logos/homely.svg', alt='Homely')#logo
      .right
        a.menu-item(href='#') Ver cobertura
        a.menu-item(href='#') Iniciar sesión
        a.menu-item(href='/ser-keeper') Quiero trabajar
        a.menu-item-main(href='#') Quiero un servicio
  #mobile(style="height: 64px;")
    .container.d-flex.align-items-center.justify-content-between.navbar
      .left.menu-button(onclick="openMenu()")
        img.logo(src='images/icons/plus.svg', alt='Homely')#menu-button
      .right
        img.logo(src='images/logos/homely-cream.svg', alt='Homely')#logo-mobile

script
    include ../../public/javascripts/visuals.js

