.top
  .banner#info-banner
    img(src="../images/badges/jelpmi.png", alt="")
  .navbar
    .container
      .burger(style='')
        img(src='images/icons/menu_open.png', alt='Homely')
      .logo(style='')
        a(href='/')
          img.logo(src='images/logos/homely.png', alt='Homely')
      .menu(style='')
        a.menu-item(href='#') Ver cobertura
        a.menu-item(href='#') Iniciar sesión
        a.menu-item(href='/ser-keeper') Quiero trabajar
        a.menu-item-main(href='#') Quiero un servicio
      .shortcut(style='')
        img.logo(src='images/icons/clean.png', alt='Homely')

script
    include ../../public/javascripts/visuals.js

