doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Homely - Pásale a lo barrido
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='stylesheets/cochinero.css')
    link(rel='shortcut icon', href='images/icons/favicon.png')

    include includes/navbar.pug
    
    br
    br
    br
    
    .container.section
      .row
        .col-md-6
          picture
            source(type='image/webp' srcset='images/photos/adios.webp')
            source(type='image/jpg' srcset='images/photos/adios.jpg')
            img(src='images/photos/adios.jpg', alt='')
        .col-md-6
          h1= error.status
          h6= message
          p La pagina que estás buscando no existe. Te recomendamos volver al inicio.
      
    .section
      include includes/footer.pug

    include includes/intercom.pug
