doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='description', content='Encuentra expertos en limpieza para tu casa u oficina cerca de ti.')
    meta(name='keywords', content='Servicio, limpieza, doméstica, oficinas, casa, ciudad de mexico, mexico, guadalajara, horas, tarjeta de credito, uber, ayuda, chacha, muchacha, sirvienta')
    meta(name='author', content='Grupo MICRAVI SA de CV')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Homely - Pásale a lo barrido
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='stylesheets/cochinero.css')
    link(rel='shortcut icon', href='images/icons/favicon.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDQSkVVrZ1BMsG10-44vN0aXJQerFQZkAw', type='text/javascript')
    script(src='javascripts/landing-modal.js')

    <!-- Facebook Pixel Code -->
    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '145648802609752');
      fbq('track', 'PageView');

    noscript
      img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=145648802609752&ev=PageView&noscript=1")
    <!-- End Facebook Pixel Code -->


    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-76627910-4')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-76627910-4');

    // Start Alexa Certify Javascript
    script(type='text/javascript').
      _atrk_opts = { atrk_acct:"Jhx0p1IWhd10Y8", domain:"homely.mx",dynamic: true};
      (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
    noscript
      img(src='https://certify.alexametrics.com/atrk.gif?account=Jhx0p1IWhd10Y8', style='display:none', height='1', width='1', alt='')
    // End Alexa Certify Javascript


  body(onload="getURL()")
    

    include includes/navbar.pug    
    
    #hero-landing.hero.d-flex
      .container
        #content
          div
            #hero-text
              h1#hero-title ¡Pásale a lo barrido!
              h5#hero-subtitle Encuentra expertos en limpieza cerca de ti
            .searchbox
              form(style="height: 100%;", action="https://servicios.homely.mx")
                input(type='text', name="neighborhood", placeholder='Escribe tu colonia', onkeyup='initialize()')#searchTextField
                button(type='submit', name='button')
                  | Buscar
                  img.icon(src='images/icons/chevron-right.png', alt='')
          a(href="https://servicios.homely.mx/cotizador/firstStep/clean")
            #search-button
                | Buscar expertos en limpieza
          .badge
            img(src='images/badges/comodo-white.png', alt='Ponte comodo y disfruta')
    .container
      .row.section
        .col-md-12.d-flex.justify-content-between.flex-wrap.press-logos
          a.wow.fadeIn(href='https://www.reforma.com/aplicacioneslibre/articulo/default.aspx?id=813843&md5=acf74f2800c08f9fea7a269c95956816&ta=0dfdbac11765226904c16cb9ad1b2efe&lcmd5=1953be67ca081ee3b7c7affe61197d5a', target='_blank', data-wow-delay='0.1s')
            img(src='images/logos/reforma.png', alt='Periódico Reforma')
          a.wow.fadeIn(href='https://youtu.be/MZiQjzn1bOI', target='_blank', data-wow-delay='0.2s')
            img(src='images/logos/sony.png', alt='Canal Sony Televisión')
          a.wow.fadeIn(href='https://www.eluniversal.com.mx/articulo/metropoli/df/2016/02/24/limpieza-domestica-al-alcance-de-una-app', target='_blank', data-wow-delay='0.3s')
            img(src='images/logos/universal.png', alt='Periódico El Universal')
          a.wow.fadeIn(href='https://www.milenio.com/negocios/emprender-en-mexico/melina_cruz-jelpmi-negocio-mexico_busca_pasion_emprender-milenio_noticias_0_1050495188.html', target='_blank', data-wow-delay='0.4s')
            img(src='images/logos/milenio.png', alt='Milenio Diario')
          a.wow.fadeIn(href='https://medium.com/mujer-del-futuro/jelpmi-la-primera-inversi%C3%B3n-de-ana-victoria-en-shark-tank-5f104b0fad99', target='_blank', data-wow-delay='0.4s')
            img(src='images/logos/victoria147.png', alt='victoria147')
          a.wow.fadeIn(href='https://www.imagenradio.com.mx/gabriela-ferriz/conoce-jelpmi-el-nuevo-servicio-de-limpieza', target='_blank', data-wow-delay='0.5s')
            img(src='images/logos/imagen.png', alt='Grupo Imagen Multimedia')
          a.wow.fadeIn(href='https://www.entrepreneur.com/article/311983', target='_blank', data-wow-delay='0.5s')
            img(src='images/logos/entrepreneur.png', alt='Entrepreneur')
    .section.interest-section
      .container
        .row
          .col-md#keepers-info
            h2 Somos los más chidos 😎
            p
              | Los keepers son profesionales independientes que te ayudarán a cubrir las necesidades de limpieza en tu casa y oficina.
            br
            ul
              li Evaluados mediante análisis predictivos y chequeos de antecedentes. (Aprueban sólo el 20% de los aplicantes).
              li Los keepers pueden ganar hasta 5 veces más que en agencias tradicionales y cuentan con seguro de gastos médicos.
              li Tus servicios están asegurados ante daños accidentales causados por tu keeper.
              li Hecho con amor en México.
            br
            a(href="keepers")
              button.btn.btn-main Quiero trabajar
            a(href="perks")
              button.btn.btn-ghost Beneficios para los clientes
          .col-md.d-flex.justify-content-end.align-items-center#keepers-grid
            .photo-grid
              .photo-row
                .photo-cell(style="background-image: url('images/photos/keepers/keeper-01.jpg')")
                  div
                    img(src='images/emojis/faces-cool.png', alt='')
                .photo-cell(style="background-image: url('images/photos/keepers/keeper-02.jpg')")
                  div
                    img(src='images/emojis/faces-crack.png', alt='')
                .photo-cell(style="background-image: url('images/photos/keepers/keeper-03.jpg')")
                  div
                    img(src='images/emojis/faces-cute.png', alt='')
              .photo-row
                .photo-cell(style="background-image: url('images/photos/keepers/keeper-04.jpg')")
                  div
                    img(src='images/emojis/faces-nerd.png', alt='')
                .photo-cell(style="background-image: url('images/photos/keepers/keeper-05.jpg')")
                  div
                    img(src='images/emojis/faces-meh.png', alt='')
                .photo-cell(style="background-image: url('images/photos/keepers/keeper-06.jpg')")
                  div
                    img(src='images/emojis/faces-good.png', alt='')
              .photo-row
                .photo-cell(style="background-image: url('images/photos/keepers/keeper-07.jpg')")
                  div
                    img(src='images/emojis/faces-wink.png', alt='')
                .photo-cell(style="background-image: url('images/photos/keepers/keeper-08.jpg')")
                  div
                    img(src='images/emojis/faces-xd.png', alt='')
                .photo-cell(style="background-image: url('images/photos/keepers/keeper-09.jpg')")
                  div
                    img(src='images/emojis/faces-satisfy.png', alt='')
    .container
      .row.section
        .col-md-6.d-flex.align-items-center.justify-content-center#services-photo
          img(src='images/photos/services.png', alt='', style='width: 80%;')
        .col-md-6
          h2 El servicio que necesitas
          p
            | Te ayudamos con la limpieza de tu hogar y oficina; desde quitarle las arrugas a tu ropa, hasta matar al monstruo de sobras que vive en tu refri (shhhh… no le diremos a nadie).
            br
            br
            |             Agenda tu servicio 
            b desde $80 por hora*
            |  ó si lo requieres solicita un 
            b servicio exprés con sólo dos horas de anticipación**
            | .
          a(href="https://servicios.homely.mx")  
            button(onclick="message()").btn.btn-main Solicita un servicio
          br
          br
          p.small
            | * Precio válido para servicios recurrentes agendados con 24 horas de anticipación.
            br
            |             ** Servicio exprés disponible de 10:00 a 17:00 horas de lunes a domingo, sujeto a disponibilidad de keepers.
    .container
      .row.section
        .col-md-6
          h2 Solicita un servicio
          a(href="https://servicios.homely.mx")
            button.btn.btn-main Servicio para tu depa
          a(href="/office")
            button.btn.btn-alt Servicio para oficina
        .col-md-6
          h2 Regístrate para trabajar
          a(href="/keepers")
            button.btn.btn-alt-hv Comienza tu registro

    include includes/footer.pug

    include includes/modal.pug


  script(type='text/javascript').
      function initialize() {
      	var input = document.getElementById('searchTextField');
      	var options = {
      		types: ['(regions)'],
      		componentRestrictions: {country: 'mx'}
      	};
      	var autocomplete = new google.maps.places.Autocomplete(input, options);
      }
      google.maps.event.addDomListener(window, 'load', initialize);