doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Homely - Pásale a lo barrido
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='stylesheets/cochinero.css')
    link(rel='shortcut icon', href='images/icons/favicon.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')

  body
    include includes/navbar

    .hero-micro.d-flex.align-items-end(style="background-image: url('images/photos/keepers-hero.jpg')")
      .container
        .row
          .col-lg-5.hero-card(style="")
            h3  ¡Comienza a ganar dinero esta semana!
            p   Limpia hogares y oficinas de forma digna y segura, gana hasta cinco veces más que en una agencia. 
            p   Tú eliges tus zonas, días y horarios de trabajo.
            button.btn.btn-alt-hv Regístrate
            span(style="padding: 16px; font-size: 18px;")
              b ó llámanos 📞  
                a(href="tel:70982559") 7098-2559

    .bg-blue
      .container.section
        .row
          .col-md-4
            .perk
              .image
                img(src="images/icons/healt.png", style="width: 30%;", alt="")
              .content
                h4 Seguro de gastos médicos.
                p  Todos los keepers cuentan con un seguro de gastos médicos para cubrirte en todo momento durante tus servicios.
          .col-md-4
            .perk
              .image
                img(src="images/icons/time.png", style="width: 30%;", alt="")
              .content
                h4 Pago justo por hora.
                p  Todos los servicios se pagan por hora, nunca tendrás que preocuparte por jefes abusivos.
          .col-md-4
            .perk
              .image
                img(src="images/icons/money.png", style="width: 30%;", alt="")
              .content
                h4 Tu dinero cada semana.
                p  Trabaja con la certeza de que siempre recibiras tu dinero de manera segura en tu cuenta bancaria.
          
    .section.bg-cream(style="background-image: url('images/bgs/pattern-1.png'); background-size: cover;")
      .container
        .row.d-flex.align-items-center
          .col-md-8
            h2 
              | Gana hasta $
              span#income 11,840
              |  mensuales.
            h6 Puedes lograr estos ingresos trabajando... 
            br
            select(name="hours", onchange="calculate()")#hours
              option(value=3) 3 horas diarias
              option(value=4) 4 horas diarias
              option(value=5) 5 horas diarias
              option(value=6) 6 horas diarias
              option(value=7) 7 horas diarias
              option(value=8, selected) 8 horas diarias
            img(src="images/icons/multiplication.png", alt="", style="margin: 12px;")
            select(name="days", onchange="calculate()")#days
              option(value=1) 1 día a la semana
              option(value=2) 2 días a la semana
              option(value=3) 3 días a la semana
              option(value=4) 4 días a la semana
              option(value=5, selected) 5 días a la semana
              option(value=6) 6 días a la semana
              option(value=7) 7 días a la semana
          .col-md-4
            img(src="images/photos/keeper-hi.png", alt="Keeper saludando", style="width: 100%")
  
    .container.section
      .row
        .col-md-6
          h3  ¡Reune tus documentos!
          br
          ul
            li Acta de nacimiento.
            li Identificación oficial.
            li Comprobante de domicilio.
            li Dos cartas de recomendación.
            li Cuenta bancaria (Para recibir tus pagos).
        .col-md-6 
          h3 Realiza tu examen de confianza.
          br
          p  El examen de confianza que desarrollamos en JelpMi! nos ayuda a garantizar seguridad para ti y tus clientes en cada uno de los servicios que prestes en la plataforma.
          button.btn.btn-main Regístrate ahora
          button.btn.btn-alt Llámanos

    include includes/footer.pug