doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='Servicios de limpieza con personal confiable y asegurados por hasta un millón de pesos.')
    meta(name='keywords', content='Servicio, limpieza, doméstica, oficinas, casa, ciudad de mexico, mexico, guadalajara, horas, tarjeta de credito, uber, ayuda, facturas, facturacion')
    meta(name='author', content='Grupo MICRAVI SA de CV')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Homely - Pásale a lo barrido
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='stylesheets/cochinero.css')
    link(rel='shortcut icon', href='images/icons/favicon.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')

  body
    include includes/navbar

    .hero-micro.d-flex.align-items-end(style="background-image: url('images/photos/perks-hero.jpg')")
      .container
        .row
          .col-lg-5.hero-card(style="")
            h3  Mucho más que limpiar tu casa
            p   Servicios asegurados, pagos encriptados y personal confiable son apenas algunos de los beneficios de limpiar tu hogar con nosotros.
            a(href="https://servicios.homely.mx")
              button.btn.btn-main Quiero un servicio

    .container.section
      .row
        .col-md-6.infocard
          .image(style="background-image: url('images/photos/perks-broken.jpg')")
          div
            h3 Servicios asegurados
            p
              | Para tu tranquilidad, todos los servicios contratados dentro de la plataforma cuentan con un seguro de hasta 1 MILLÓN DE PESOS.
        .col-md-6.infocard
          .image(style="background-image: url('images/photos/perks-mom.jpg')")
          div
            h3 Empodera personas
            p
              | Más del 90% de los keepers han reportado cambios significativos en su entorno económico, familiar y personal.

    .bg-blue
      .container.section
        .row
          .col-md-4
            .perk
              .image
                img(src="images/icons/healt.png", style="width: 30%;", alt="")
              .content
                h4 Keepers asegurados
                p  Todos los keepers cuentan con un seguro de gastos médicos.
          .col-md-4
            .perk
              .image
                img(src="images/icons/time.png", style="width: 30%;", alt="")
              .content
                h4 Pago justo por hora
                p  Paga por el tiempo que dure tu servicio hasta que este haya concluido.
          .col-md-4
            .perk
              .image
                img(src="images/icons/contract.png", style="width: 30%;", alt="")
              .content
                h4 Sin contratos
                p  Sólo los servicios que necesites, nosotros nos encargamos del resto.
        .row  
          .col-md-4
            .perk
              .image
                img(src="images/icons/help.png", style="width: 30%;", alt="")
              .content
                h4 Ayuda personalizada
                p  Estamos contigo los 7 días de la semana para apoyarte en lo que necesites.
          .col-md-4
            .perk
              .image
                img(src="images/icons/bill.png", style="width: 30%;", alt="")
              .content
                h4 Facturas
                p  Los keepers pueden generar comprobantes fiscales para todos los servicios.
          .col-md-4
            .perk
              .image
                img(src="images/icons/safety.png", style="width: 30%;", alt="")
              .content
                h4 Keepers confiables
                p  Sólo 20% de los aplicantes aprueban nuestro estricto proceso de admisión.

    div(style="background-image: url('images/photos/perks-waranty.jpg');").d-flex.align-items-center.justify-content-center.hero-micro
      .container.section
        .row
          .col-lg-5.hero-card
            h3 Garantía de satisfacción Homely
            p  Si la calidad del servicio prestado por tu keeper no es de tu agrado, podrás solicitar un servicio de garantía totalmente gratis (1 día de anticipación mínimo).
            p.small 
              |  * Enviaremos un keeper diferente al de tu última visita.
              br
              |  ** El servicio de garantía sólo podrá ser asignado de Lunes a Viernes en cualquier horario.

    include includes/footer.pug
    include includes/intercom.pug    