/*** MODAL ***/

.screen{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  z-index: 120;
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}

.custom-modal{
  background: white;
  box-shadow: 0px 0px 40px -8px rgba(48, 50, 59, 0.3);
  max-width: 640px;
  display: flex;
}

.modal--image{
  background: cadetblue;
  background-size: cover;
  background-position: center;
  width: 40%;
}

.modal--content{
  background: white;
  width: 60%;
  padding: 24px;
}

@media only screen and (max-width: 500px){
  .custom-modal{
    flex-direction: column;
  }

  .modal--image{
    background-size: 1.6;
    width: 100%;
    height: 200px;
  }
  
  .modal--content{
    width: 100%;
    padding: 24px;
    padding-bottom: 0px;
  }
}