/*** NAVIGATION ***/

#mobile{
  display: none;
  -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    background-image: linear-gradient(rgba(63, 68, 76,0.5), rgba(63, 68, 76,0.0));;
}

.top{
  position: fixed;
  width: 100%;
  z-index: 50;
}

.banner{
  background: var(--color-indigo);
  color: white;
  height: 40px;
  text-align: center;
  font-size: 8px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease; /* Safari */
    transition: all 0.4s ease;
}

.banner-hide{
  height: 0px !important;
  padding: 0px;
}

.navbar{
  height: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--color-gray);
}

.navbar a:hover{
  text-decoration: none;
  color: var(--color-mint);
}

.logo{
  width: 120px;
}

.navbar .burger{
  display: none;
}

.navbar .shortcut{
  display: none;
}

.menu-item{
  color: var(--color-gray);
  padding: 0px 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.menu-item-main{
  color: var(--color-indigo);
  padding: 0px 8px;
  text-decoration: none;
}

.menu-button{
  width: 24px;
}

.menu-button img{
  width: 100%;
}

.menu-button path{
  fill: red;
}

.navbar .burger img{
  width: 20px;
}

.navbar .shortcut img{
  width: 30px;
}

.navbar-pro{
  background: var(--color-gray);
}

.navbar-pro .menu-item{
  color: var(--color-white) !important;
}

.navbar-pro .menu-item-main{
  color: var(--color-dolly);
  padding: 0px 8px;
  text-decoration: none;
}

#menu-box{
  background: var(--color-silver);
  top: 0;
  width: 95%;
  height: 100%;
  padding: 24px;
  box-shadow: 2px 0px 24px var(--color-gray);
}

.menu-box .menu-item{
  margin: 18px 0px;
}

.menu-box-navigation{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  margin-bottom: 32px;
}

.menu-box a{
  color: var(--color-gray);
}

.screen{
  z-index: 100 !important;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#menu-screen{
  display: none;
}

.scrolled-mobile{
  background: white !important;
  box-shadow: 0px 2px 24px -8px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
  #desktop{
    display: none;
  }

  #mobile{
    display: inherit;
  }

}