/*** NAVIGATION ***/

#mobile{
  display: none;
  -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s ease;
    background-image: linear-gradient(rgba(63, 68, 76,0.6), rgba(63, 68, 76,0.0));;
}

.pro-bar{
  background: var(--color-gray);
}

.pro-bar .menu-item{
  color: var(--color-white);
}

.pro-bar .menu-item:hover{
  color: var(--color-white);
}

.pro-bar .menu-item-main{
  color: var(--color-dolly);
}

#menu-box{
  position: relative;
  top: -64px;
  width: 100%;
  height: 0vh;
  overflow: hidden;
  background: var(--color-indigo);
  padding-top: 0px;
  text-align: center;
  transition: 0.4s;
}

#menu-box a{
  color: white;
}

.menu-open{
  width: 100% !important;
  height: 100vh !important;
  border-bottom: 12px solid var(--color-mint);
}

.top{
  position: fixed;
  width: 100%;
  z-index: 40;
  box-shadow: 0px 2px 42px -8px rgba(0,0,0,0.16);
}

.navbar{
  height: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--color-gray);
  position: relative;
  z-index: 41;
}

.navbar a{
  padding: 8px;
}

.navbar a:hover{
  text-decoration: none;
}

.logo{
  width: 120px;
}

.menu-item{
  color: var(--color-gray);
  padding: 0px 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  position: relative;
}

.menu-item::before{
  content: '';
  width: 0%;
  height: 12px;
  display: block;
  position: absolute;
  z-index: -1;
  top: 16px;
  left: 12px;
  transition: 0.6s all ease;
}

.menu-item:hover::before{
  width: 88%;
  background: rgba(43, 239, 178, 0.48);
}

.item-main{
  color: var(--color-indigo);
}

.pro-bar .item-main{
  color: var(--color-dolly);
}

.menu-button{
  width: 24px;
  transition: all 0.4s;
}

.menu-button img{
  width: 100%;
}


.navbar .burger img{
  width: 20px;
}

.navbar .shortcut img{
  width: 30px;
}

.navbar-pro{
  background: var(--color-gray);
}

.navbar-pro .menu-item{
  color: var(--color-white) !important;
}

#logo-blue, #menu-blue{
  display: none;
}

.scrolled-mobile{
  background: white !important;
  box-shadow: 0px 2px 24px -8px rgba(0, 0, 0, 0.3);
}

.open-mobile a{
  color: white;
}


@media only screen and (max-width: 767px) {
  #desktop{
    display: none;
  }

  #mobile{
    display: inherit;
  }

  .top{
    box-shadow: 0px 0px 0px -8px rgba(0,0,0,0);
  }

}